body{
    background-color: grey;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

header {
    color: black;
    font-size: xx-large;
    background-color: darkgray;
    justify-content: center;
}
#div4 {             /*Score and msg div */
    color: black;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(120, 180, 120)
}
#cardFront {
    color: black;
    background-color: aqua;
}
#cardBack {
    color: cornsilk;
    background-color: blue;
}